div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none;
	margin: 0; 
	padding: 0; 
}

body {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 32px;
	background-color: #DDDDDD;
}

a {
	text-decoration: none;
	transition: all .5s ease-in-out;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

.hidden {
	display: none;
}

#container {
	margin: 0 auto;
	width: 1920px;
}

.grid-con {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
	padding-left: 140px;
	padding-right: 140px;
}

#header-con {
	position: sticky;
	top: 0px;
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

#logo {
	grid-column: 1/3;
    margin-top: 20px;
}

#header-box1 {
	grid-column: 1/3;
}

#main-nav {
	grid-column: 3/11;
    border-left: solid 5px #BB9235;
    height: 120px;
    margin-top: 10px;
    margin-left: 50px;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin-top: 35px;
    margin-left: 80px;
}

#main-nav ul li {
    display: inline;
    margin-right: 30px;
}

#main-nav ul li:last-child {
    margin-right: 0;
}

#main-nav ul li a {
    color: #494848;
}

#main-nav ul li a:hover {
	color:#BB9235 ;
    border-bottom: 5px solid #BB9235;
    padding-bottom: 3px;
}

.log-in {
    background-color: #BB9235;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 20px;
}

#log-in-top {
    grid-column: 11/-1;
    margin-right: 10px;
    margin-bottom: 40px;
}

#log-in-top:hover {
    background-color: #626262;
}

#hero {
	margin-top: 50px;
}

#hero-text {
	grid-column: 1/8;
}

.hero-img-h2 {
    padding: 30px 200px;
    font-size: 50px;
	color: #BB9235 ;
}

#hero-image {
	grid-column: 8/-1;
}

.read-more {
    background-color: #BB9235;
    color: #fff;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 20px;
	height: 80px;
}

#read-more {
    grid-column: 1/3;
    margin-right: 700px;
    margin-bottom: 40px;
	margin-top: 50px;
}

#read-more:hover {
    background-color: #626262;
}

#products {
	margin-top: 70px;
	margin-bottom: 100px;
}

#products h2 {
	grid-column: 1/-1;
	text-align: center;
}

#product1 {
	grid-column: 1/5;
}

#product2 {
	grid-column: 5/9;
}

#product3 {
	grid-column: 9/-1;
}

.product-box {
	background-color: #6FF59C;
}

.product-text {
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 20px;
	color: #494848
}

#about-con {
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

#about-title {
	text-align: left;
}

#about-text {
	grid-column: 1/7;
	margin-top: 100px;
}

#about-image {
	grid-column: 8/-1;
	margin-top: -550px;
	margin-bottom: 20px;
}

.go-to-shop {
    background-color: #BB9235;
    color: #fff;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 100px;
	height: 80px;
}

#go-to-shop {
    grid-column: 1/3;
    margin-bottom: 40px;

}

#go-to-shop:hover {
    background-color: #626262;
}

#contact {
	margin-top: 100px;
	margin-bottom: 100px;
}

#contact-title {
	grid-column: 1/7;
}

#contact-text {
	grid-column: 1/7;
}

#contact-form {
	grid-column: 8/11;
	margin-top: -200px;
	background-color: #bb93358f;
	padding-left: 20px;

}

input, textarea {
    padding: 10px;
    border: 2px solid #BB9235;
    border-radius:  5px;
    background-color: #f7f7f7;
    margin-bottom: 10px;
    font: inherit;
}

input[type="submit"] {
    width: 200px;
    padding: 16px 32px;
    background-color: #BB9235;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    align-self: flex-end;
}

input[type="submit"]:hover {
    background-color: #626262;
    border-radius: 0;
}


#main-footer {
	background-color: #bb93356e;
	padding-bottom: 20px;
	margin-top: 40px;
    height: 500px;
}

#footer-logo {
	grid-column: 1/3;
	margin-top: 60px;
}

#footer-nav {
	grid-column: 5/-1;
}

#footer-newsletter1 {
	grid-column: 1/10;
	font-size: 30px;
}

#footer-newsletter2 {
	grid-column: 1/7;
}

#footer-social {
	grid-column: 10/-1;
}



/* gallery page */

#gallery-hero-con {
	background-color: #aaaaaa;
	background: url(../images/Piano_gallery.jpg) no-repeat;
	height: 580px;
}

#gallery-main-text {
	grid-column: 1/7;
	height: 200px;
	margin-top: 100px;
}


#gallery-controls {
	margin-top: 200px;
	grid-column: 6/8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery-text {
	font-size: 1em;
	text-align: center;
	margin-top: 1px;
	background-color: #a09d9d;
}

.gallery-text:hover {
	border-bottom: 10px solid #BB9235;
    padding-bottom: 10px;
}


.dot {
	background-color: #dddddd;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
  }

#gallery h2 {
	grid-column: 1/-1;
	text-align: center;
  }

.gallery-box {
	background-color: #ddd;
	grid-column: span 4 / span 4;
	/* Remove as content will dictate height */
	height: 507px;
	margin-bottom: 20px;
}

.check-out {
    background-color: #BB9235;
    color: #fff;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-left: 800px;
	margin-right: 200px;
}
#check-out:hover {
    background-color: #626262;
}
